*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;

    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5vw;
    letter-spacing: 15px;
    font-family: sans-serif;
}

.fill{
    background: linear-gradient(50deg, #111, #fff, #111);
    background-size: 80%;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

    animation: spotlight 3s linear infinite alternate;
}

@keyframes spotlight{
    from{
        background-position: -500%;
    }
    to{
        background-position: 500%;
    }
}